{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block title %}  {% endblock %}

{% block content %}
<div class="row bg-light">
    <div class="col-md-9 mt-5">
        <div class="card mt-3">
            <div class="card-body">
                 <h5>MODIFICATION DE MON MOT DE PASSE</h5>
            </div>
        </div>
        <form action="{% url 'change-password' %}" method="post" class="form mt-4">
            {% csrf_token %}
            {% bootstrap_form change_password_form  %}
            {% buttons %}
            <div class="d-inline block">
                <button type="submit" class="btn btn-success">VALIDER</button>
                <a href="{% url 'profil-user' %}" class="btn btn-success ml-2"> PROFIL</a> <br><br>
            </div>
            {% endbuttons %}
        </form>
    </div>
</div>


{% endblock %}