{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}


{% block title %}  {% endblock %}

{% block content %}
<div class="row bg-dark">

    <div class="col-md-8 border-right border-left ">
        <center>
            <img class="rounded-circle mt-3" alt="100x100" src="{% static 'img/martine.jpeg' %}" width="450"
                 height="420"><br><br>
        </center>

        <div class="card mt-5 mb-5">
            <div class="card-body">
                <div class="">
                    <strong> Nom d'Utilisateur</strong> : {{user.username|upper}} <br><br>
                    <strong> Nom</strong> : {{user.first_name|upper}} <br><br>
                    <strong> Prénom</strong> : {{user.last_name|upper}} <br><br>
                    <strong> Email</strong> : {{user.email|upper}}<br><br>

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 border-right">
        <div class="card mt-3">
            <div class="card-body">
                <center><h5 class="">PARAMETRES DU COMPTE</h5></center>
            </div>
        </div>
        <div class="mb-2">
            <a href="{% url 'edit-user' %}" class="btn btn-warning btn-block mt-5"><i class="fa fa-pencil mr-2"
                                                                                      aria-hidden="false"></i>ÉDITER MON
                PROFIL</a>
            <a href="{% url 'change-password' %}" class="btn btn-warning btn-block mt-3"><i class="fa fa-pencil mr-2"
                                                                                            aria-hidden="false"></i>MODIFIER
                MON MOT DE PASSE</a>
            <button class="btn btn-danger btn-block mt-3" data-toggle="modal" data-target="#deleteAccount"><i
                    class="fa fa-trash-o mr-2" aria-hidden="true"></i>SUPPRIMER MON COMPTE
            </button>
        </div>
    </div>

    <!-- Debut du Modal de Suppression de Compte -->
    <div class="container">
        <div class="modal fade" id="deleteAccount" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header bg-danger text-white">
                        <h5 class="modal-title" id="exampleModalLabel">SUPPRESSION DE MON COMPTE</h5>
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Êtes vous sûre de vouloir SUPPRIMER votre Compte ? Cette action est Irreversible !
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">ANNULER</button>
                        <a href="{% url 'delete-user' %}" class="btn btn-danger ml-2"> SUPPRIMER</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin du Modal de Suppression de Post -->

</div>


{% endblock %}
