{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %} {{post.title}} {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-9">
        <div class="mt-3">
            <h2>{{post.title}}</h2>
            <small>Posté le {{post.created_at}}</small>
            <hr>
            <p class="text-muted">
                {{post.text|linebreaks|safe}}
            </p>
            <a href="{% url 'post-list' post.category.slug %}"
               class="badge badge-info">{{post.category.name|capfirst}}</a>
        </div>

        <div class="mt-3" id="comments">
            <h3>Commentaires</h3>

            <!-- Confirmation de l'envoie d'un Commentaire à l'Utilisateur -->
            {% if message %}
            <div class="alert alert-success alert-dismissable fade show">
                {{ message }}
                <button class="close" type="button" data-dismiss="alert">
                    <span>&times;</span>
                </button>
            </div>
            {% endif %}

            <ul class="list-unstyled">
                {% for comment in comments %}
                <li class="media">
                    <img class="mr-3" src="{% static 'img/diallo.png' %}" width="100">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">{{comment.author_name}}</h5>
                        <p>
                            <small class="text-muted">{{comment.created_at}}</small>
                        </p>
                        <p>
                            {% if comment.status == 'moderated' %}
                            <span class="font-weight-light font-italic text-muted">
                            [[ Commentaire Modéré : {{ comment.moderation_text }} ]]
                        </span>
                            {% else %}
                            {{ comment.text }}
                            {% endif %}
                        </p>
                    </div>
                </li>
                {% empty %}
                <li class="media"> Pas de Commentaires Pour le moment !</li>
                {% endfor %}
            </ul>

            <form action="{% url 'post-detail' post.pk %}" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form comment_form %}
                {% buttons %}
                <button type="submit" class="btn btn-primary">Commentez</button>
                {% endbuttons %}
            </form>

        </div>

    </div>

    <div class="col-md-3 mt-3">
        <h5>Posts de même Catégories: </h5>
        <ul class="list-group list-unstyled">
            {% for post in posts_same_category %}
            <li class="list-group-itm">
                <a href="{% url 'post-detail' post.pk %}"> {{post.title|truncatewords:4}}</a>
            </li>
            {% empty %}
            C'est le seul Post de la Catégorie {{post.title}} actuellement.
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock %}