{% extends 'base.html' %}

{% block title %} Posts {% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-9">
        {% for post in posts %}
        <div class="card mt-3">
            <div class="card-body">
                <div class="">
                    <!-- On affiche le Post dans son intégralité (details) en cliquant sur son titre -->
                    <h3><a href="{% url 'post-detail' post.pk %}">{{post.title}}</a></h3>
                    <small>Posté le {{post.created_at}} par </small> <strong>{{post.user.username |upper}}</strong>
                    <hr>
                    {% if post.text|wordcount > 100 %}
                        <p class="text-muted">
                            <!-- On affiche le Post dans son intégralité (details) en cliquant sur Lire Plus si le nombre de mots depasse 100 -->
                            {{post.text|linebreaks|safe|truncatewords:100}}
                            <a href="{% url 'post-detail' post.pk %}">[Lire Plus]</a>
                        </p>
                    {% else %}
                        <p class="text-muted">
                            <!-- On affiche le Post dans son intégralité (details) en cliquant sur Lire Plus si le nombre de mots depasse 100 -->
                            {{post.text|linebreaks|safe}}
                        </p>
                    {% endif %}
                    <!-- On affiche uniquement que les Posts correspondant à la Catégorie choisie -->
                    <a href="{% url 'post-list' post.category.slug %}" class="badge badge-info">
                        {{post.category.name|capfirst}}</a>
                    {% if user.is_authenticated %}
                        {% if post.user == request.user %}
                            <a href="{% url 'edit-post' post.pk %}" class="badge badge-warning text-white ml-4">MAJ</a>
                            <a href="#" class="badge badge-danger text-white ml-4" data-toggle="modal" data-target="#deletePost">RETIRER</a>
                        {% endif %}
                    {% endif %}

                </div>
            </div>
        </div>

        <!-- Debut du Modal de Suppression de Post -->
        <div class="container">
            <div class="modal fade" id="deletePost" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Retirer Mon Post </h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Êtes vous sûre de vouloir SUPPRIMER votre Post ? Cette action est Irreversible !
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">ANNULER</button>
                            <a href="{% url 'delete-post' post.pk %}" class="btn btn-danger ml-2">CONFIRMER</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin du Modal du Suppression de Post -->


        <!-- On affiche un message à l'utilisateur s'il entre une Catégorie qui n'existe pas -->
        {% empty %}
        <div class="text-center">
            <p class="display-1"> :-(</p>
            <h3 class="mt-4">
                Désolé, il n'y a pas de Catégorie correspondant à <small
                    class="badge badge-info">{{category.name}}</small>
            </h3>
        </div>
        {% endfor %}
    </div>

    <!-- Affiche les Catégories de Posts qui existent en Bases De Données -->
    <div class="col-sm-3 mt-3 border">
        <a href="{% url 'create-post' %}" class="badge badge-success mt-2"> Créer Un Post</a><br><br>
        <h5>Catégories :</h5>
        <ul class="list-unstyled border bg-info">
            {% for cat in categories %}
            <li class="pl-2">
                <a href="{% url 'post-list' cat.slug %}" class="badge badge-dark mb-2 ">{{cat.name|capfirst}}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
