{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block title %} {{post.title}} {% endblock %}

{% block content %}
<div class="row container">
    <div class="col-md-10 border-right border-left border-bottom">
        <div class="mt-3">

            <ul class="list-unstyled">
                <li class="media mt-4 bg-light">
                    <img class="mr-3 mt-2 ml-2" src="{% static 'img/diallo.png' %}" width="100">
                    <div class="media-body pl-2 pr-2 pb-2 pt-2 mb-2 mr-2 mt-2">
                        <h5 class="mt-0 mb-1">{{post.user.username |upper}}</h5>
                        <p>
                            <!-- <small class="text-muted">{{post.created_at}}</small> -->
                            <strong>{{post.created_at}}</strong>
                        </p>

                        <div class="bg-white pl-2 pr-2 pb-2 pt-2 mb-2 mr-2 mt-2">
                            <h2 class="mt-2">{{post.title}}</h2>
                            <p class="text-muted">
                                {{post.text|linebreaks|safe}}
                            </p>
                        </div>

                        <a href="{% url 'post-list' post.category.slug %}"
                           class="badge badge-info">{{post.category.name|capfirst}}</a>
                        {% if user.is_authenticated %}
                        {% if post.user == request.user %}
                        <a href="{% url 'edit-post' post.pk %}" class="badge badge-warning text-white ml-4">MAJ</a>
                        <a href="#" class="badge badge-danger text-white ml-4" data-toggle="modal"
                           data-target="#deletePost">RETIRER</a>
                        {% endif %}
                        {% endif %}
                    </div>
                </li>
            </ul>

        </div>


        <!-- Debut du Modal de Suppression de Post -->
        <div class="container">
            <div class="modal fade" id="deletePost" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Retirer Mon Post </h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            Êtes vous sûre de vouloir SUPPRIMER votre Post ? Cette action est Irreversible !
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">ANNULER</button>
                            <a href="{% url 'delete-post' post.pk %}" class="btn btn-danger ml-2">CONFIRMER</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Fin du Modal du Suppression de Post -->


        <div class="mt-3 bg-light pl-3 pr-3 ml-5" id="comments">
            <h3 class="mb-2">Commentaires</h3>

            <!-- Confirmation de l'envoie d'un Commentaire à l'Utilisateur -->
            {% if message %}
            <div class="alert alert-success alert-dismissable fade show">
                {{ message }}
                <button class="close" type="button" data-dismiss="alert">
                    <span>&times;</span>
                </button>
            </div>
            {% endif %}

            <ul class="list-unstyled">
                {% for comment in comments %}
                <li class="media mt-5">
                    <img class="mr-3" src="{% static 'img/diallo.png' %}" width="100">
                    <div class="media-body">
                        <h5 class="mt-0 mb-1">{{comment.user.username|upper}}</h5>
                        <p>
                            <strong>{{comment.created_at}}</strong>
                            <!-- <small class="text-muted">{{comment.created_at}}</small> -->
                        </p>
                        <div class="bg-white pl-2 pt-2 pr-2 pb-2">
                            {% if comment.status == 'moderated' %}
                            <span class="font-weight-light font-italic text-muted">
                            [[ Commentaire Modéré : {{ comment.moderation_text }} ]]
                        </span>
                            {% else %}
                            {{ comment.text }}
                            {% endif %}

                        </div>

                        <!-- Édition Des Commentaires-->
                        <div class="mt-2">
                            <a href="{% url 'post-list' post.category.slug %}"
                               class="badge badge-info">{{post.category.name|capfirst}}</a>
                            {% if user.is_authenticated %}
                            {% if comment.user == request.user %}
                            <a href="{% url 'edit-comment' comment.pk %}" class="badge badge-warning text-white ml-4">MODIFIER</a>
                            <a href="#" class="badge badge-danger text-white ml-4" data-toggle="modal"
                               data-target="#editComment">SUPPRIMER</a>
                            {% endif %}
                            {% endif %}
                        </div>
                        <!-- Fin d'Édition des Commentaires -->

                        <!-- Debut du Modal de Suppression de Commentaire -->
                        <div class="container">
                            <div class="modal fade" id="editComment" tabindex="-1">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="">SUPPRIMER Mon Commentaire </h5>
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Êtes vous sûre de vouloir SUPPRIMER votre Commentaire ? Cette action est
                                            Irreversible !
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                ANNULER
                                            </button>
                                            <a href="{% url 'delete-comment' comment.pk %}" class="btn btn-danger ml-2">CONFIRMER</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin du Modal du Suppression de Commentaire -->


                    </div>
                </li>
                {% empty %}
                <li class="media"> Pas de Commentaires Pour le moment !</li>
                {% endfor %}
            </ul>

            <form action="{% url 'post-detail' post.pk %}" method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form comment_form %}
                {% buttons %}
                <button type="submit" class="btn btn-success">Commentez</button>
                {% endbuttons %}
            </form>

        </div>

    </div>

    <div class="col-md-2 mt-3 border-right border-bottom bg-light">
        <h5 class="mt-5">Posts de même Catégories: </h5>
        <ul class="list-group list-unstyled">
            {% for post in posts_same_category %}
            {% if post %}
            <li class="list-group-itm">
                <a href="{% url 'post-detail' post.pk %}"> {{post.title|truncatewords:4}}</a>
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock %}